.hidden {
  display: none;
}

@font-face {
  font-family: font-spotify;
  src: url(assets/circ.woff);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: font-spotify;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #55aa77;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 700px;
}

.title {
  margin-bottom: 4rem;
  color: #ffffff;
  font-size: 1.4rem;
}

.title h1 {
  font-family: font-spotify;
  text-shadow: 1px 1px 10px #ff6347;
}

.subtitle {
  border: 2px solid #ff6347;
  background-color: white;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 600px;
}
.subtitle-2 {
  border: 2px solid #ff6347;
  background-color: white;

  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 600px;
}

.button-info {
  margin-top: 5rem;
}

.info {
  color: #ff6347;
  font-size: 1.7rem;
}

.btn-avancar button {
  margin-top: 3rem;
  width: 10rem;
  height: 3rem;
  font-size: 20px;
  border-radius: 3rem;
}
